@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.6vw;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.c-btn {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 1.25rem;
  border: 2px solid #4D4D4D;
  border: 0.125rem solid #4D4D4D;
  display: inline-block;
  padding: 14px 78px;
  padding: 0.875rem 4.875rem;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

.c-btn--reverse {
  background-color: #4D4D4D;
  color: #f7f7f7;
}

.c-btn--reverse:hover {
  background: #f7f7f7;
  color: #4D4D4D;
}

.c-btn--float {
  background-color: #f7f7f7;
  color: #4D4D4D;
}

.c-btn--float:hover {
  background-color: #4D4D4D;
  color: #f7f7f7;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.c-section-top {
  width: 100%;
}

.c-section-top__text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #000;
  text-align: center;
}

.c-test {
  color: red;
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-test {
    font-size: 3.125rem;
    color: green;
  }
}

.l-inner {
  margin: 0 auto;
  max-width: 540px;
  max-width: 33.75rem;
  width: 100%;
  height: inherit;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1050px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-top-blog {
  margin-top: 0px;
  margin-top: 0rem;
}

.l-top-staff {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-normal-card {
  width: 100%;
  max-width: 296px;
  max-width: 18.5rem;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, .25);
          box-shadow: 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, .25);
}

.p-normal-card__img {
  position: relative;
  padding-top: 74.3243243243%;
}

.p-normal-card__img img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 10px;
  border-top-right-radius: 0.625rem;
  border-top-left-radius: 10px;
  border-top-left-radius: 0.625rem;
}

.p-normal-card__body {
  width: 100%;
  padding: 20px;
  padding: 1.25rem;
}

.p-normal-card__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
}

.p-normal-card__excerpt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.p-normal-card--slide {
  background-color: #D2D2D2;
  color: #000;
  position: relative;
  z-index: 1;
}

.p-normal-card--slide::after {
  background-color: #3D593D;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.p-normal-card--slide:hover {
  color: #f7f7f7;
}

.p-normal-card--slide:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.p-normal-card--circle {
  background-color: #f7f7f7;
  color: #000;
  overflow: hidden;
  position: relative;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  z-index: 2;
}

.p-normal-card--circle::after {
  background-color: #818A7D;
  border-radius: 50%;
  content: "";
  display: block;
  margin: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 120%;
  height: 0;
  z-index: -1;
  -webkit-transform: translateY(-50%) scale(0.1);
          transform: translateY(-50%) scale(0.1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0s;
  transition: opacity 0.5s, -webkit-transform 0s;
  transition: opacity 0.5s, transform 0s;
  transition: opacity 0.5s, transform 0s, -webkit-transform 0s;
  -webkit-transition-delay: 0s, 0.4s;
          transition-delay: 0s, 0.4s;
}

.p-normal-card--circle:hover {
  color: #fff;
}

.p-normal-card--circle:hover::after {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.8s, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.8s, transform 0.6s ease-in-out;
  transition: opacity 0.8s, transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.p-section-head {
  width: 100%;
  text-align: center;
}

.p-section-head--left {
  text-align: left;
}

.p-section-head__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0;
  color: #000;
  text-transform: uppercase;
}

.p-section-head__sub-title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #000;
  border-bottom: 2px solid #005700;
  border-bottom: 0.125rem solid #005700;
}

.p-test {
  color: red;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (min-width: 768px) {
  .p-test {
    font-size: 3.125rem;
    color: green;
  }
}

.p-top-blog {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(80, 92, 75, .5)), color-stop(69.333%, rgba(80, 92, 75, .5)), color-stop(69.333%, #f7f7f7), to(#f7f7f7));
  background: linear-gradient(90deg, rgba(80, 92, 75, .5) 0%, rgba(80, 92, 75, .5) 69.333%, #f7f7f7 69.333%, #f7f7f7 100%);
}

.p-top-blog__top {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-top-blog__items {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-top-blog__item {
  margin: 0 auto;
}

.p-top-blog__item + .p-top-blog__item {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-top-blog__btn {
  width: 100%;
  margin-top: 20px;
  margin-top: 1.25rem;
  text-align: center;
}

.p-top-staff {
  background-color: rgba(175, 158, 151, .6);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(175, 158, 151, .6)), color-stop(69.333%, rgba(175, 158, 151, .6)), color-stop(69.333%, #f7f7f7), to(#f7f7f7));
  background: linear-gradient(180deg, rgba(175, 158, 151, .6) 0%, rgba(175, 158, 151, .6) 69.333%, #f7f7f7 69.333%, #f7f7f7 100%);
}

.p-top-staff__top {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-top-staff__items {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-top-staff__item {
  margin: 0 auto;
}

.p-top-staff__item + .p-top-staff__item {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-top-staff__btn {
  width: 100%;
  margin-top: 40px;
  margin-top: 2.5rem;
  text-align: center;
}

.p-wide-card {
  width: 100%;
  max-width: 320px;
  max-width: 20rem;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.625rem;
}

.p-wide-card__img {
  position: relative;
  padding-top: 62.5%;
}

.p-wide-card__img img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.p-wide-card__body {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 0.625rem;
  -webkit-transition: 0.1s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.1s cubic-bezier(0.45, 0, 0.55, 1);
  position: relative;
  z-index: 1;
}

.p-wide-card__title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0;
  color: #AF9E97;
  position: relative;
  z-index: 2;
}

.p-wide-card:hover .p-wide-card__title,
.p-wide-card:hover .p-wide-card__excerpt {
  color: #f7f7f7;
}

.p-wide-card--reverse .p-wide-card__body {
  padding: 20px 20px 25px 60px;
  padding: 1.25rem 1.25rem 1.5625rem 3.75rem;
  background: -webkit-gradient(linear, left top, right top, from(#AF9E97), color-stop(15.625%, #AF9E97), color-stop(15.625%, #f7f7f7), to(#f7f7f7));
  background: linear-gradient(90deg, #AF9E97 0%, #AF9E97 15.625%, #f7f7f7 15.625%, #f7f7f7 100%);
}

.p-wide-card--reverse:hover .p-wide-card__body {
  background: -webkit-gradient(linear, left top, right top, from(#f7f7f7), color-stop(15.625%, #f7f7f7), color-stop(15.625%, #AF9E97), to(#AF9E97));
  background: linear-gradient(90deg, #f7f7f7 0%, #f7f7f7 15.625%, #AF9E97 15.625%, #AF9E97 100%);
  -webkit-transition: 0.1s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.1s cubic-bezier(0.45, 0, 0.55, 1);
}

.p-wide-card--slide .p-wide-card__body {
  padding: 20px 30px 25px 80px;
  padding: 1.25rem 1.875rem 1.5625rem 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#6E6B5C), color-stop(15.625%, #6E6B5C), color-stop(15.625%, #f7f7f7), to(#f7f7f7));
  background: linear-gradient(90deg, #6E6B5C 0%, #6E6B5C 15.625%, #f7f7f7 15.625%, #f7f7f7 100%);
  color: #6E6B5C;
  text-align: center;
}

.p-wide-card--slide .p-wide-card__body::after {
  background-color: #6E6B5C;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 84.375%;
  height: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 0.625rem;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s cubic-bezier(0.45, 0, 0, 1);
  transition: 0.3s cubic-bezier(0.45, 0, 0, 1);
  z-index: 1;
}

.p-wide-card--slide:hover {
  color: #f7f7f7;
}

.p-wide-card--slide:hover .p-wide-card__body::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
/*# sourceMappingURL=styles.css.map */
