@use "global" as *;

.p-normal-card{
  width: 100%;
  max-width: rem(296);
  display: block;
  cursor: pointer;
  transition: .3s;
  border-radius: rem(10);
  box-shadow: rem(5) rem(5) rem(5) rgba(0, 0, 0, 0.25);
}

.p-normal-card__img{
  position: relative;
  padding-top: calc((220 / 296) * 100%)
}

.p-normal-card__img img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  border-top-right-radius: rem(10);
  border-top-left-radius: rem(10);
}

.p-normal-card__body{
  width: 100%;
  padding: rem(20);
}

.p-normal-card__title{
  font-family: $base-font-family;
  font-size: rem(20);
  font-weight: $regular;
  letter-spacing: 0;
}

.p-normal-card__excerpt{
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  letter-spacing: 0;
  margin-top: rem(10);
}


.p-normal-card--slide{
  background-color: #D2D2D2;
  color: $black;
  position: relative;
  z-index: 1;
}

.p-normal-card--slide::after{
  background-color: #3D593D;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: rem(10);
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.p-normal-card--slide:hover {
  color: $white;
}
.p-normal-card--slide:hover::after {
  transform: scale(1, 1);
}


.p-normal-card--circle{
  background-color: $white;
  color: $black;
  overflow: hidden;
  position: relative;
  transition-duration: .4s;
  z-index: 2;
}

.p-normal-card--circle::after{
  background-color: #818A7D;
  border-radius: 50%;
  content: "";
  display: block;
  margin: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 120%;
  height: 0;
  z-index: -1;
  transform: translateY(-50%) scale(0.1);
  transition: opacity .5s, transform 0s;
  transition-delay: 0s, .4s;
}

.p-normal-card--circle:hover {
  color: #fff;
}
.p-normal-card--circle:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
  transition-delay: 0s;
  transition: opacity .8s, transform .6s ease-in-out;
}