@use "global" as *;

.p-top-blog{
  padding-top: rem(40);
  padding-bottom: rem(100);
  background: linear-gradient(90deg, rgba(80, 92, 75, 0.5) 0%, rgba(80, 92, 75, 0.5) 69.333%, $white 69.333%, $white 100%);
}

.p-top-blog__top{
  margin-top: rem(20);
}

.p-top-blog__items{
  margin-top: rem(20);
}

.p-top-blog__item{
  margin: 0 auto;
}

.p-top-blog__item + .p-top-blog__item{
  margin-top: rem(20);
}

.p-top-blog__btn{
  width: 100%;
  margin-top: rem(20);
  text-align: center;
}