@use "global" as *;

.p-top-staff{
  padding-bottom: rem(40);
  background: linear-gradient(180deg, transparent 0%, transparent 3.5%, $bg-color02 3.5%, $bg-color02 100%);
  
  @include mq("md"){
    padding-bottom: rem(0);
    background: linear-gradient(180deg, transparent 0%, transparent 36.36%, $bg-color02 36.36%, $bg-color02 80.95%, transparent 80.95%, transparent 100%, );
  }
}

.p-top-staff__inner{
  padding: 0 rem(15);

  @include mq(md) {
    max-width: $l-inner;
    margin: 0 auto;
    }
}

.p-top-staff__head{
  width: rem(500);
  margin: 0 auto;
}

.p-top-staff__top{
  margin-top: rem(40);

  @include mq("md"){
    margin-top: rem(32);
  }
}

.p-top-staff__items{
  margin-top: rem(40);

  @include mq("md"){
    margin-top: rem(32);
  }
}

.p-top-staff__btn{
  width: 100%;
  margin-top: rem(40);
  text-align: center;
}