@use "global" as *;

.p-top-staff{
  padding-bottom: rem(40);
  background: linear-gradient(180deg, transparent 0%, transparent 3.5%, $bg-color02 3.5%, $bg-color02 100%);

  @include mq("md"){
    background: linear-gradient(180deg, $white 0%, $white 3.5%, $bg-color02 3.5%, $bg-color02 100%);
  }
}

.p-top-staff__head{
  width: rem(190);
  margin: 0 auto;
}

.p-top-staff__top{
  margin-top: rem(40);
}

.p-top-staff__items{
  margin-top: rem(40);
}

.p-top-staff__item{
  margin: 0 auto;
}

.p-top-staff__item + .p-top-staff__item{
  margin-top: rem(40);
}

.p-top-staff__btn{
  width: 100%;
  margin-top: rem(40);
  text-align: center;
}