@use "global" as *;

.p-top-works{
  padding-top: rem(10);
  padding-bottom: rem(100);
  background: linear-gradient(90deg, transparent 0%, transparent 30.666%, $bg-color01 30.666%, $bg-color01 100%);
}

.p-top-works__top{
  margin-top: rem(10);
}

.p-top-works__items{
  margin-top: rem(20);
}

.p-top-works__item{
  margin: 0 auto;
}

.p-top-works__item + .p-top-works__item{
  margin-top: rem(20);
}

.p-top-works__btn{
  width: 100%;
  margin-top: rem(60);
  text-align: center;
}