@use "global" as *;

.p-wide-card{
  width: 100%;
  max-width: rem(320);
  display: block;
  cursor: pointer;
  transition: .3s;
  border-radius: rem(10);
}

.p-wide-card__img{
  position: relative;
  padding-top: calc((200 / 320) * 100%)
}

.p-wide-card__img img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
}

.p-wide-card__body{
  width: 100%;
  border-bottom-left-radius: rem(10);
  border-bottom-right-radius: rem(10);
  transition: .10s cubic-bezier(0.45, 0, 0.55, 1);
  position: relative;
  z-index: 1;
}

.p-wide-card__title{
  font-family: $base-font-family;
  font-size: rem(20);
  font-weight: $bold;
  letter-spacing: 0;
  color: #AF9E97;
  position: relative;
  z-index: 2;
}


.p-wide-card:hover .p-wide-card__title,
.p-wide-card:hover .p-wide-card__excerpt{
  color: $white;
}

.p-wide-card--reverse .p-wide-card__body{
padding: rem(20) rem(20) rem(25) rem(60);
background: linear-gradient(90deg, #AF9E97 0%, #AF9E97 15.625%, $white 15.625%, $white 100%);
}

.p-wide-card--reverse:hover .p-wide-card__body{
  background: linear-gradient(90deg, $white 0%, $white 15.625%, #AF9E97 15.625%, #AF9E97 100%);
  transition: .10s cubic-bezier(0.45, 0, 0.55, 1);
}


.p-wide-card--slide .p-wide-card__body{
  padding: rem(20) rem(30) rem(25) rem(80);
  background: linear-gradient(90deg, #6E6B5C 0%, #6E6B5C 15.625%, $white 15.625%, $white 100%);
  color: #6E6B5C;
  text-align: center;
}

.p-wide-card--slide .p-wide-card__body::after{
  background-color: #6E6B5C;
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 84.375%;
  height: 100%;
  border-bottom-right-radius: rem(10);
  transform: scale(1, 0);
  transform-origin: top;
  transition: .3s cubic-bezier(0.45, 0, 0, 1);
  z-index: 1;
}

.p-wide-card--slide:hover {
  color: $white;
}
.p-wide-card--slide:hover .p-wide-card__body::after {
  transform: scale(1, 1);
}

